@import "./colors.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap");

@font-face {
  font-family: "nwt";
  src: url("../public/fonts/NWT.otf");
}

@font-face {
  font-family: "cowbow";
  src: url("../public/fonts/Cowboy-Standard.otf");
}

@font-face {
  font-family: "ranch";
  src: url("../public/fonts/RanchWater.otf");
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 801px) {
  html {
    min-width: 450px;
  }
}

* {
  box-sizing: border-box;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.fa-theme {
  color: var(--grey);
}

.fa-theme:hover {
  color: var(--accentColor);
}

.fadeIn {
  animation: fadeIn 0.2s ease-in-out forwards;
}

.navbar-slide-in {
  animation: slide_in 500ms ease-in-out forwards;
}

.navbar-slide-out {
  animation: slide_out 250ms ease-in-out forwards;
}

@keyframes slide_in {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(-384px);
  }
}

@keyframes slide_out {
  0% {
    transform: translateX(-384px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}
